<h1>Welcome</h1>

<%if logged_in?%>
  <h1>You are LoggedOut<%= current_user.username=nil %></h1>
<% else %>
  <h1>LoggedOut</h1>
<%end%>




<%= button_to "Увійти", '/login', method: :get%>
<br>
<%= button_to "Реєстрація", '/users/new', method: :get%>

